Makefile
Makefile.in
/configure
/config.guess
/config.sub
/depcomp
/install-sh
/missing
/ltmain.sh
/INSTALL
/aclocal.m4
/mkinstalldirs
/compile
/autom4te.cache
/libtool
/config.status
/config.log
*.o
*~
.deps
.libs
*.lo
*.la
/src-reg/checkregularity
/src/B_A
/src/B_A_center
/src/B_D
/src/B_D_center
/src/B_S
/src/B_S_center
/src/Dnxk
/src/binomial
/src/check
/src/chiro2allfinetriangs
/src/chiro2alltriangs
/src/chiro2circuits
/src/chiro2cocircuits
/src/chiro2dual
/src/chiro2finetriang
/src/chiro2finetriangs
/src/chiro2mintriang
/src/chiro2nallfinetriangs
/src/chiro2nalltriangs
/src/chiro2ncircuits
/src/chiro2ncocircuits
/src/chiro2nfinetriangs
/src/chiro2ntriangs
/src/chiro2placingtriang
/src/chiro2triangs
/src/cocircuits2facets
/src/cross
/src/cube
/src/cyclic
/src/hypersimplex
/src/kDn
/src/lattice
/src/permutahedron
/src/points2allfinetriangs
/src/points2alltriangs
/src/points2chiro
/src/points2circuits
/src/points2cocircuits
/src/points2facets
/src/points2finetriang
/src/points2finetriangs
/src/points2flips
/src/points2gale
/src/points2mintriang
/src/points2nallfinetriangs
/src/points2nalltriangs
/src/points2ncircuits
/src/points2ncocircuits
/src/points2nfinetriangs
/src/points2nflips
/src/points2ntriangs
/src/points2placingtriang
/src/points2prettyprint
/src/points2symmetries
/src/points2triangs
/src/points2vertices
/src/points2volume
/src/santos_22_triang
/src/santos_dim4_triang
/src/santos_triang
